@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
$dark-color: #4a4a4a;
$light-color: #d9d9d9;
$primary-color: #2196f3;
$secondary-color: #ffcc00;
$green-color: #8bc34a;
$purple-color: #5856d5;
$orange-color: #ff6a67;
$gray-color: #a0b0b9;
$font-family: "Open Sans";
$small: 14px;
$header-size: 22px;
